---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="צור קשר">
  <!-- HEADER -->
  <section class="mb-40">
    <div
      class="relative h-[300px] overflow-hidden bg-primary bg-cover bg-no-repeat lg:h-[500px]"
    >
      <div
        class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed"
      >
        <div class="flex h-full items-center justify-center">
          <div class="px-6 text-center text-white md:px-12">
            <h1
              class="mb-12 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl"
            >
              צור קשר
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <Contact />
</Layout>
