---
---

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet" />

<div>
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="swiper-container !overflow-hidden">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <blockquote class="bg-gray-100 p-8">
            <div class="flex items-center gap-4">
              <div class="text-sm">
                <p class="font-medium">נטלי</p>
              </div>
            </div>

            <p class="relative mt-4 text-gray-500">
              <span class="text-xl">&ldquo;</span>

              את אישה מהמהמת מלא אהבה ושמחה וצלמת עוד יותר מוכשרת שרואים שמלאת
              תשוקה ואהבה למקצוע עטרה לא הפסיקה לדבר עליך ועל הצילומים מהרגע
              שפתחה עיניים

              <span class="text-xl">&rdquo;</span>
            </p>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <blockquote class="bg-gray-100 p-8">
            <div class="flex items-center gap-4">
              <div class="text-sm">
                <p class="font-medium">פנינה רוקח</p>
              </div>
            </div>

            <p class="relative mt-4 text-gray-500">
              <span class="text-xl">&ldquo;</span>

              אילנית היקרה,את מדהימה ביכולת הצילום שלך,ברגישות נחישות ומקצוענות
              את מצליחה לתעד סיטואציות מרגשות ביותר,את אלופה ברגישות שלך וניכר
              בצילומים שאת שמה לב לכל פרט לתעד ארוע בצורה המקצועית ביותר,לא
              לוותר ולבחור בטובה ביותר !!!!!!!!!! אין חכם כבעל ניסיון,מדברת
              אישית הכרתי מקצוענית !!!!!! ממליצה לכל מי שמעוניין מניסיון!!!!!!

              <span class="text-xl">&rdquo;</span>
            </p>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <blockquote class="bg-gray-100 p-8">
            <div class="flex items-center gap-4">
              <div class="text-sm">
                <p class="font-medium">סוניה מאיר</p>
              </div>
            </div>

            <p class="relative mt-4 text-gray-500">
              <span class="text-xl">&ldquo;</span>

              אילנית יקרה, כולי התרגשות מצפייה בצילומים שצלמת את בני במעמד כה
              משמעותי בחייו. הצלחת כשרונך לתפוס בעדשה ולתעד רגעים שינצרו לתמיד.
              צילומי הסטילס ומשתקפים מהם תנועה של הלב המורכבים מאינספור הבעות
              פנים וגוף מספרים סיפור ממש. זכינו. תודה ענקית מכל

              <span class="text-xl">&rdquo;</span>
            </p>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <blockquote class="bg-gray-100 p-8">
            <div class="flex items-center gap-4">
              <div class="text-sm">
                <p class="font-medium">גלית פוריש</p>
              </div>
            </div>

            <p class="relative mt-4 text-gray-500">
              <span class="text-xl">&ldquo;</span>

              צלמת בחסד עליון. מקצועית, מדויקת ורגישה, לאנשים לסביבה
              ולסיטואציות. יוצרת סביבה נינוחה, בה המצולמים מרגישים טוב ונוח
              תופסת רגעים אותנטיים בעין העדשה, מתחברת ברגע למקום ולאנשים
              והתוצאות מופלאות. ממליצה בחום תצאו מרווחים לגמרי

              <span class="text-xl">&rdquo;</span>
            </p>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <blockquote class="bg-gray-100 p-8">
            <div class="flex items-center gap-4">
              <div class="text-sm">
                <p class="font-medium">שלומית כהן</p>
              </div>
            </div>

            <p class="relative mt-4 text-gray-500">
              <span class="text-xl">&ldquo;</span>

              אילנית היא ההגדרה לצלמת שכולה לב ונתינה. לאילנית יחסי אנוש
              מצויינים דבר שהוא חשוב ביותר בחיבור בינה לבין המצולמים. קל להפתח
              בפניה והתוצאה ניכרת בצילומים המרהיבים. אילנית יצירתית ומלאת
              אנרגיות טובות שהופכות את הצילומים לחוויה כייפית ומהנה. בנוסף
              אילנית מקצועית מאוד והדבר ניכר בצילומיה המיוחדים אין ספק שכל מי
              שיזמין את אילנית לצלם יזכה בחוויה יוצאת דופן, מהנה ומקצועית

              <span class="text-xl">&rdquo;</span>
            </p>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <blockquote class="bg-gray-100 p-8">
            <div class="flex items-center gap-4">
              <div class="text-sm">
                <p class="font-medium">דינה גרץ</p>
              </div>
            </div>

            <p class="relative mt-4 text-gray-500">
              <span class="text-xl">&ldquo;</span>

              אילנית את צלמת מהלב. מקצועית ויצירתית, וזה הופיע הצילומים. הצליחת
              לתפוס את הרגעים המיוחדים והמרגשים של הצוות שלי בצורה מדויקת
              ומרהיבה. הכישרון שלך להתחבר עם האנשים שאת מצלמת אותם וליצור איתם
              קשר אישי הוא משהו מיוחד שעוזר לך להפוך את התמונות שלך למעניינות
              ומלאות חיים

              <span class="text-xl">&rdquo;</span>
            </p>
          </blockquote>
        </div>
      </div>

      <div class="swiper-pagination !relative !bottom-0 mt-12"></div>
    </div>
  </div>
</div>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    new Swiper(".swiper-container", {
      loop: true,
      slidesPerView: 1,
      spaceBetween: 8,
      autoplay: {
        delay: 8000,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        640: {
          slidesPerView: 1.5,
        },
        1024: {
          slidesPerView: 3,
        },
      },
    });
  });
</script>
